<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.janaszek.kn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".flashcards.FlashcardWords"
        android:allowBackup="true"
        android:icon="@drawable/launch_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SearchActivity"></activity>
        <activity android:name=".flashcards.FlashcardsActivity" />
        <activity android:name=".grammar.GrammarItemActivity" />
        <activity android:name=".grammar.GrammarRVActivity" />
        <activity android:name=".grammar.GrammarCategoryActivity" />
        <activity android:name=".vocabulary.VocabularyItemActivity" />
        <activity android:name=".vocabulary.VocabularyRVActivity" />
        <activity android:name=".vocabulary.VocabularyCategoryActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>